
.card-product-infos {
  padding-top: 25px;

  h4 {
    font-weight: bold;
    font-size: larger;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
}


.info-div {
  border-top: 1px solid rgba(128, 128, 128, 0.345);
  padding: 25px 10px 25px 10px;

  p {
    margin: 0;
  }
}

.ski-offer {
  display: flex;
  margin: 20px;
  background-color: white;

  .ski-image {
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.star-div {
  align-items: center;

  .div-button {
    padding-left: 25px;
  }
}
