<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://courchevel.vip/wp-content/uploads/2020/06/skiing_courchevel.jpg)">
  <h2></h2> <%= @ski.location %>
</div>
