<div class="card bg-light text-dark" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">These are the best skis we've ever rented it's actually crazy.</p>
    <a href="#" class="btn btn-dark">Go somewhere</a>
  </div>
</div>
