


<div class="footer fixed-botton">
  <div class="footer-copyright">
    © 2023 Skibnb, Inc.
  </div>

  <div class="footer-quote">
    <p>In powder we trust</p>
  </div>

  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram fa-xl"></i></a>
    <a href="#"><i class="fab fa-facebook fa-xl"></i></a>
    <a href="#"><i class="fab fa-twitter fa-xl"></i></a>
  </div>

</div>
