<div class="mt-5 mb-5 pb-5">
  <div class="text-center mb-5">
    <h2 >SKI BNB Rent worldwide</h2>
  </div>
  <div class="cards mx-3">
    <div class="card-category rounded-4 box-shadow" style="background-size:cover;background-image: linear-gradient(160deg, rgba(128,128,128,0) 59%, rgba(76,112,155,1) 100%), url(https://images.unsplash.com/photo-1488410766174-4d3ab8efd321?q=80&w=3534&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
      <div class="card-content">
        <h3>Austria</h3>
        <h4>A world-class skiing experience</h4>
      </div>
    </div>
    <div class="card-category rounded-4 box-shadow" style="background-size:cover;background-image: linear-gradient(160deg, rgba(128,128,128,0) 59%, rgba(76,112,155,1) 100%), url(https://images.unsplash.com/photo-1610049957231-1b47d1bc06ad?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
      <div class="card-content">
        <h3>France</h3>
        <h4>A skier's paradise with alpine charm</h4>
      </div>
    </div>
    <div class="card-category rounded-4 box-shadow" style="background-size:cover;background-image: linear-gradient(160deg, rgba(128,128,128,0) 59%, rgba(76,112,155,1) 100%), url(https://images.unsplash.com/photo-1517057011470-8f36d636e6ca?q=80&w=3443&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
      <div class="card-content">
        <h3>Switzerland</h3>
        <h4>Lots of space for sun-hungry skiers</h4>
      </div>
    </div>
  </div>
</div>
