.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 40px;
}

.card-vacation {
  border: 1px solid rgba(128, 128, 128, 0.396);
  border-width: initial;
  border-top: none;
  padding: 10px;
}
