 @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&family=Lumanosimo&family=Noto+Sans+Sogdian&family=PT+Sans:wght@700&family=Poppins:ital,wght@1,200&display=swap');

.home-header{
  position: absolute;
  bottom: 64%;
  left: 10%;
}
