.new-form {

  background-size: cover;
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    ),
    url(https://images.unsplash.com/photo-1488410766174-4d3ab8efd321?q=80&w=3534&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  height: 100vh;
}

.center-btn {
  width: 30%;
  margin: 0 auto;
  margin-left: 70%;
}

.invalid-feedback {
  font-weight: bolder;
  text-shadow: 2px 1px 3px #d36a6a91;
}

.form-label {
  font-weight: bolder;
  font-size: 22px;
}

.new-btn{
  font-weight: bolder;
  border-radius: 10px;
  background-color: black;
  border-color: black;
}
.new-btn:hover{
  color: black;
  background-color: white;
  border-color: white;
  box-shadow: 1px 2px 3px #0000009c;
}
